# Coder: Nick
version: "3.9"

services:
  web:
    image: python:3.10-slim
    working_dir: /app/backend
    volumes:
      - ./backend:/app/backend
    command: bash -c "pip install -r requirements.txt && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
